<!DOCTYPE html>
<html ng-app="scaffolding">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'/>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'/>
    <meta name="description" content="An HTML5 Playground">

    <title>HTML5 Playground</title>

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/app.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/error.css"/>
    <link rel="stylesheet" type="text/css" href="/css/angular-ui.css"/>
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>
<div ng-controller="RootCtrl" data-common-template-url="ng-templates">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" ng-click="$location.path('/home')">
                    <span class="simran">HTML5 Playground</span>
                </a>

                <ul class="nav">
                    <li ng-class="{active: $location.path() == '/'}">
                        <a ng-click="$location.path('/home')">Plain playground</a>
                    </li>
                    <li ng-class="{active: $location.path().indexOf('/map') == 0}">
                        <a ng-click="$location.path('/map')">Map playground</a>
                    </li>
                </ul>
                <div class="navbar-form pull-right">
                </div>
            </div>
        </div>
    </div>

    <div class="mainview">
        <div class="container ng-view"></div>
    </div>

    <footer>
        <p class="simran">HTML5 Playground</p>
    </footer>
</div>

<!-- Libraries -->
<script src='http://maps.googleapis.com/maps/api/js?sensor=false'></script>
<!--<script src="http://code.jquery.com/jquery-1.9.0.min.js"></script>-->
<script src="/js/vendor/ng/angular.js"></script>
<script src="/js/vendor/ng/angular-resource.js"></script>
<script src="/js/vendor/ng/angular-cookies.js"></script>
<script src="/js/vendor/ng-ui/angular-ui.js"></script>
<!--<script src="/js/vendor/jquery.atmosphere.js"></script>-->
<script src="/js/vendor/bootstrap/bootstrap.js"></script>

<!-- App files -->
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>

<!--<script src="/js/app/ext/atmosphere-integration.js"></script>-->
<script src="/js/app/scaffolding.js"></script>
<script src="/js/app/services/ScaffoldingService.js"></script>
<script src="/js/app/controllers/RootCtrl.js"></script>
<script src="/js/app/controllers/ScaffoldingCtrl.js"></script>
<script src="/js/app/controllers/MapController.js"></script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    var _gaq = [
        ['_setAccount', 'UA-XXXXX-X'],
        ['_trackPageview']
    ];
    (function (d, t) {
        var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
        g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g, s)
    }(document, 'script'));
</script>
</body>
</html>